@tailwind base;
@tailwind components;
@tailwind utilities;


img{
  max-height: 100%;
}

input, textarea, select{
  @apply border-2 border-gray-300 rounded-md px-2 py-1 w-full ;
}

input:focus, textarea:focus{
  @apply border-blue-900
}

h1{
  @apply text-xl mb-2 text-blue-900 font-semibold
}

label{
  @apply text-blue-900
}

.btn-primary{
  @apply bg-blue-900 text-white px-4 py-1 rounded-md
}

.btn-property{
  @apply bg-gray-500 text-white px-2 py-1 rounded-md
}
.btn-red{
  @apply bg-red-500 text-white px-2 py-1 rounded-md
}

table.basic{
  @apply w-full
}

table.basic thead{
  @apply bg-blue-100
}

table.basic tr td{
  @apply border p-2 border-gray-300
}

table.basic a{
  @apply bg-blue-900 text-white text-sm px-2 me-1 py-1 rounded-md flex inline-flex gap-1
}

.btn-delete{
  @apply bg-red-600 px-4 py-1 me-2 rounded-md text-white
}
.btn-default{
  @apply bg-gray-300 px-4 py-1 me-2 rounded-md text-white
}